.canvas-container {
    border: 1px solid black;
    position: absolute;
}

#timer {
    font-weight: bold;
    background: darkgray;
    border-bottom: 1px solid black;
    text-align: center
}

.button-container {
    display: flex;
    justify-content: center;
    height: 0
}

input[type="button"] {
    display: none;
    position: relative;
    cursor: pointer;
    padding: 10px 20px 25px;
    bottom: 140px;
    margin: 0 10px
}